<div class="container navbar-bg">
  <div class="nav-item">
      <button
      routerLink="/"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </button>
  </div>
  <div class="nav-item">
    <button
      routerLink="/profile"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
    >
      Profile
    </button>
  </div>
  <div class="nav-item">
    <button
      routerLink="/external-api"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
    >
      External API
    </button>
  </div>
</div>
