.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 0.13rem solid black;
  width: 100vw;
}

.nav-item {
  margin-top: 2rem;
  padding-bottom: 3rem;
}

.nav-item:nth-child(1) {
  justify-content: space-evenly;
  margin-left: 2rem;
}

button {
  border-radius: 10px;
  background-color: #011627;
  border-color: transparent;
  color: #96ede2;
  height: 4.5rem;
  width: 15rem;
  transition: 0.6s all linear;
}

button:hover {
  box-shadow: #d4b483 -250px -20px 10px 2px inset;
  color: black;
}
