body {
  height: 65vh;
}

mat-grid-tile {
  font-size: 1.77rem;
  line-break: auto;
}

h3 {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-size: 4rem;
  position: relative;
  top: 1rem;
  padding-bottom: 3rem;
}
button {
  border-radius: 10px;
  background-color: #011627;
  border-color: transparent;
  color: #96ede2;
  height: 6rem;
  width: 15rem;
  transition: 1s all ease;
}

button:hover {
  box-shadow: #466362 250px 0 0 2px inset;
}

input {
  height: 5vh;
  width: 15vw;
  font-size: 1.74rem;
}

label {
  font-size: 1.74rem;
  padding-right: 1rem;
  font-weight: bold;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(4, 2fr);
  gap: 2rem;
  justify-items: center;
}

.item-1 {
  grid-column: 2;
  grid-row: 1;
  position: relative;
  left: 15.5rem;
}

.btn {
  display: flex;
  justify-items: center;
  justify-content: center;
  position: relative;
  bottom: 16rem;
}

.hotel-container {
  position: relative;
  bottom: 13rem;
}

.loading {
  font-size: 5rem;
}

.dataResults {
  font-size: 5rem;
  position: relative;
  margin-left: 1rem;
  bottom: 17rem;
}
