body {
  background-color: black;
}

#jumbo {
  background-color: #331832;
}

#name,
#message {
  background-color: #011627;
  color: silver;
}

#send,
#roomName {
  background-color: #9e7682;
  color: black;
}

#rName {
  background-color: #644046;
  color: silver;
}
