div {
  display: flex;
  justify-items: center;
  justify-content: center;
  position: relative;
  left: 47vw;
  padding-right: 4rem;
  padding-top: 1rem;
}

.logout-btn {
  height: 5rem;
  width: 13rem;
  background-color: #011627;
  border-radius: 2em;
  border-color: transparent;
  color: #c1666b;
  transition: 0.6s all ease-out;
}

.logout-btn:hover {
  box-shadow: #d4b483 -250px -20px 10px 2px inset;
  color: black;
}
